*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cover{
    /* background-color: #344CB7; */
    /* background-image: url("/aboutcover.jpg"); */
    background-color: #32325d;
    align-items: center;
    display: flex;
    height: 150px;
    
}
.cover h1{
    color: #32325d;
    background-color: #fff;
    margin-left: -10px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 120;
    border-radius: 10px;
}

.symptomchecker {
    max-width: 600px;
    margin: 60px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
 
  
  input {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .suggestions {
    list-style: none;
    padding: 0;
    background: white;
    border: 1px solid #ccc;
    max-width: 80%;
    margin: auto;
    text-align: left;
  }
  
  .suggestions li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background: #f0f0f0;
  }
  
  .advice {
    margin-top: 20px;
    padding: 17px;
    background-color: #eaf7ff;
    border-left: 5px solid #007bff;
    border-radius: 5px;
  }
  
  .advice h3 {
    color: #007bff;
  }
  
  footer{
    margin: 0;
    padding: 20px;
    background-color: #242442;
    color: white;
}
footer ul{
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
}
footer ul li{
    position: relative;
    margin: 0;
    font-size: smaller;
}
footer a{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
footer h2{
    text-align: center;
    display: block;
}
.foot{
    display: flex;
    justify-content: center;
}
.foot1{
    width:200px;
}
.foot2{
    width:300px;
}

  

